.tabMenu {
  border: 1px solid red;
  padding: 8px;
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.buttonList {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
}

.button {
  padding: 8px 15px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

.button.activated {
  background-color: black;
  color: white;
}

.contents > p {
  padding: 0 5px;
}
