body {
  background-color: black;
}

.seat {
  border-radius: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border: 1px solid white;
  background-color: white;
  padding: 6px;
  cursor: pointer;
}

.occupied {
  background-color: red;
}

.theator {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
